*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

body {
    width: 800px;
    margin: 0 auto;
}

.recipes-bloc {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.recipes-bloc h2 {
    text-transform: uppercase;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.recipes-bloc-img {
    display: inline-block;
    vertical-align: top;
}

.recipes-info li {
    display: inline-block;
    margin: 10px;
}

a {
    background-color: aquamarine;
    color: blue;
    text-decoration: none;
}

.section {
    display: inline-block;
    width: 540px;
    margin-left: 10px;
}

.section p {
    margin: 10px 0;
}

